{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}Thai Biopharmaceutical Researcher Database{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('th') }}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TBRD</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/pub_summary?category=all">Publications</a></li>
                <li><a href="/main_page">Researchers Pubmed</a></li>
                <li><a href="/top_rank">Top Researchers Pubmed</a></li>
                <li><a href="/main_page_scopus">Researchers Scopus</a></li>
                <li><a href="/top_rank_scopus">Top Researchers Scopus</a></li>
                <li><a href="/top_connectors">Top Connectors</a></li>
                <li><a href="/show_value_chain?dname=pubmed">Value Chain Pubmed</a></li>
                <li><a href="/show_value_chain?dname=scopus">Value Chain Scopus</a></li>
                <li><a href="/add_data">Add data</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    {{ utils.flashed_messages(dismissible=True) }}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
