{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css">
<style>
    body { 
      font: 14px helvetica neue, helvetica, arial, sans-serif;
    }

    #cy {
        position: absolute;
        height: 100%;
        width: 80%;
        {# left: 0; #}
        {# top: 0; #}
        {# bottom: 0; #}
        {# right: 17em; #}
        display: block;
        z-index: 999;
    }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- jQuery -->
{# <script type="text/javascript" charset="utf8" #}
{#     src="{{ url_for('static', filename='DataTables-1.10.10/media/js/jquery.js')}}"></script> #}
<!-- D3 -->
<script type="text/javascript" charset="utf8"
    src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<!-- nvd3 -->
<script type="text/javascript" charset="utf8"
    src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
<!-- Cytoscape -->
<script type="text/javascript" charset="utf8"
    src="{{ url_for('static', filename='cytoscape.min.js')}}"></script>

<script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

<script>
    $(document).ready( function () {
        var mygrid = $('#coauthgrid').DataTable({
            "processing": true,
            "ajax": $SCRIPT_ROOT + "/_get_coauthor_list?fullname="+{{ fullname|tojson|safe }},
            "columnDefs": [
                { "targets": [4],
                    "data": null,
                    "defaultContent": '<a href=# class=action-view><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>'
                }]
        });
        $('#coauthgrid').on('click', '.action-view', function() {
            var firstname = mygrid.row($(this).parents('tr').first()).data()[0];
            var lastname = mygrid.row($(this).parents('tr').first()).data()[1];
            var fullname = firstname + '|' + lastname;
            window.location.href="{{ url_for('main.view_person', fullname='') }}" + fullname;
        });
    });
</script>
<script>
    $(document).ready( function () {
        var mygrid = $('#pubgrid').DataTable({
            "processing": true,
            "ajax": $SCRIPT_ROOT + "/_get_pub_list?fullname="+{{ fullname|tojson|safe }},
        });
    });
</script>
<script>
    $(document).ready(function() {
        var cy = cytoscape({
            container: $('#cy'),
            style: cytoscape.stylesheet()
                .selector('node')
                .css({
                    'shape': 'data(favShape)',
                    'content': 'data(name)',
                    'text-valign': 'center',
                    'color': 'white',
                    'text-outline-width': 2,
                    'text-outline-color': 'black',
                    'background-color': 'data(favColor)',
                })
            .selector('edge')
                .css({
                    'opacity': 0.666,
                    'width': 'data(weight)',
                    'target-arrow-shape': 'triangle',
                    'line-color': '#0099cc',
                    'target-arrow-color': '#0099cc',
                    'source-arrow-color': '#0099cc',
                    'label': 'data(label)',
                    'edge-text-valign': 'top',
                    'edge-text-halign': 'center',
                })
            .selector(':selected')
            .css({
                'background-color': 'black',
                'line-color': 'black',
                'target-arrow-color': 'black',
                'source-arrow-color': 'black',
                'text-outline-color': 'black'
            }),
            elements: {{ coauthor_graph|tojson|safe }},
            userZoomingEnabled: false,
        })

        var options = {
            name: "random",
            {# refresh: 20, #}
            animate: true,
            {# fit: true, #}
            {# padding: 30, #}
            {# componentSpacing: 40, #}
            {# nodeRepulsion: function(node) { return 400000; }, #}
            {# nodeOverlap: 10, #}
            {# idealEdgeLength: function(edge) { return 100; }, #}
            {# edgeElasticity: function(edge){ return 100; }, #}
            {# gravity: 80, #}
            {# initialTemp: 200, #}
            {# coolingFactor: 0.95, #}
            {# useMultitasking: true, #}
            animationThreshold: 250,
            animationDuration: 500,
            ready: undefined,
            stop: undefined,
        }
        cy.layout(options);
        cy.on('tap', 'node', function() {
            window.location.href = this.data('href');
        });
    });
</script>
<script>
var pubyears = {{ pubyear_data|tojson|safe }};
nv.addGraph(function() {
    var chart = nv.models.lineChart()
                    .margin({left: 100})
                    .x(function(d) { return d.key; })
                    .y(function(d) { return d.y; })
                    .useInteractiveGuideline(true)
                    .showLegend(true)
                    .showYAxis(true)
                    .showXAxis(true);
    chart.xAxis.axisLabel('Year');
    chart.yAxis.axisLabel('Number');
    d3.select('#pubyear_chart svg')
        .datum(pubyears)
        .call(chart);

    nv.utils.windowResize(function() { chart.update() });
    return chart;
});
</script>
{% endblock %}

{% block title %}Main{% endblock %}
{% block page_content %}
    <div>
        <p><h1>Researcher Information</h1><div id="tags"></div></p>
    </div>
    {# <div class="panel panel-default"> #}
    {#     <div class="panel-heading"><h3>Value Chain</h3></div> #}
    {#     <div class="panel-body"> #}
    {#         <p> #}
    {#         {% for valchain in valuechain %} #}
    {#             <h3><span class="label label-success">{{ valchain }}</span></h3> #}
    {#         {% endfor %} #}
    {#         </p> #}
    {#         <h3>Please check items below to update values</h3> #}
    {#         <form action={{ url_for('main.value_chain') }} method="post"> #}
    {#             {{ form.hidden_tag() }} #}
    {#             <div class="form-group" id="valueChainForm"> #}
    {#                 <div class="input-group"> #}
    {#                     {{ form.firstname(value=firstname, readonly=True) }} #}
    {#                     {{ form.lastname(value=lastname, readonly=True) }} #}
    {#                 </div> #}
    {#                 <div class="input-group"> #}
    {#                     {{ form.randd() }} {{ form.randd.label(for='randd') }} #}
    {#                 </div> #}
    {#                 <div class="input-group"> #}
    {#                     {{ form.preclin() }} {{ form.preclin.label(for='preclin') }} #}
    {#                 </div> #}
    {#                 <div class="input-group"> #}
    {#                     {{ form.clintrials() }} {{ form.clintrials.label(for='clintrials') }} #}
    {#                 </div> #}
    {#                 <div class="input-group"> #}
    {#                     {{ form.sale() }} {{ form.sale.label(for='sale') }} #}
    {#                 </div> #}
    {#                 <div class="input-group"> #}
    {#                     {{ form.manu() }} {{ form.manu.label(for='manu') }} #}
    {#                 </div> #}
    {#                 {{ form.submit() }} #}
    {#             </div> #}
    {#         </form> #}
    {#     </div> #}
    {# </div> #}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>{{ firstname }} {{ lastname}}
                <button class="btn btn-default btn-lg">{{ initials }}</button>
                {% for lab in labels %}
                    <span class="label label-default">{{ lab }}</span>
                {% endfor %}
                <hr>
                {% for cat in categories %}
                    <span class="label label-success">{{ cat }}</span>
                {% endfor %}
                {% for val in valuechain %}
                    <span class="label label-warning">{{ val }}</span>
                {% endfor %}
                <hr>
            </h2>
            <h3><small>{{ affl }}</small></h3>
            <h4>
                {% for a in affiliations %}
                <p>
                    {% for f in a %}
                    <a class="btn btn-sm btn-default" role="button" href="{{ url_for("main.show_affil", labels=f[0], name=f[1]) }}">{{ f[1] }}</a>
                    {% endfor %}
                    <br>
                </p>
                {% endfor %}
            </h4>
            <h4>
                {% for kw in keywords %}
                <a class="btn btn-default btn-sm" href="{{ url_for('main.view_keyword', keyword=kw) }}">{{ kw }}</a>
                {% endfor %}
            </h4>
        <div id='pubyear_chart'><svg></svg></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Coauthor Network</h3></div>
        <div class="panel-body" style="height: 600px">
            <div id="cy"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Coauthors</h3></div>
        <div class="panel-body">
            <table id="coauthgrid" class="display">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Initials</th>
                        <th>Affiliation</th>
                        <th>More..</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Publications</h3></div>
        <div class="panel-body">
            <table id="pubgrid" class="display">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Abstract</th>
                        <th>PubDate</th>
                        <th>Keywords</th>
                        <th>Group</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
