{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='DataTables-1.10.10/media/css/jquery.dataTables.css') }}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='nvd3/build/nv.d3.min.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- jQuery -->
<script type="text/javascript" charset="utf8"
    src="{{ url_for('static', filename='DataTables-1.10.10/media/js/jquery.js')}}"></script>
<!-- D3 -->
<script type="text/javascript" charset="utf8"
    src="{{ url_for('static', filename='d3.min.js')}}"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8"
    src="{{ url_for('static', filename='DataTables-1.10.10/media/js/jquery.dataTables.js') }}"></script>
<!-- nvd3 -->
<script type="text/javascript" charset="utf8"
    src="{{ url_for('static', filename='nvd3/build/nv.d3.min.js')}}"></script>

<script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

<script>
{#     $(document).ready( function () { #}
{#         var mygrid = $('#coauthgrid').DataTable({ #}
{#             "processing": true, #}
{#             "ajax": $SCRIPT_ROOT + "/_get_coauthor_list?fullname="+{{ fullname|tojson|safe }}, #}
{#             "columnDefs": [ #}
{#                 { "targets": [4], #}
{#                     "data": null, #}
{#                     "defaultContent": '<a href=# class=action-view><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>' #}
{#                 }] #}
{#         }); #}
{#         $('#coauthgrid').on('click', '.action-view', function() { #}
{#             var firstname = mygrid.row($(this).parents('tr').first()).data()[0]; #}
{#             var lastname = mygrid.row($(this).parents('tr').first()).data()[1]; #}
{#             var fullname = firstname + '|' + lastname; #}
{#             window.location.href="{{ url_for('main.view_person', fullname='') }}" + fullname; #}
{#         }); #}
{#     }); #}
</script>
<script>
{#     $(document).ready( function () { #}
{#         var mygrid = $('#pubgrid').DataTable({ #}
{#             "processing": true, #}
{#             "ajax": $SCRIPT_ROOT + "/_get_pub_list?fullname="+{{ fullname|tojson|safe }}, #}
{#         }); #}
{#     }); #}
</script>
<script>
    {# var sel_labels = {{ select_labels|tojson|safe }}; #}
    {# for (var lab in sel_labels.sort()) { #}
    {#     $('#' + sel_labels[lab]).prop('checked', true); #}
    {#     $('#tags').append( #}
    {#         "<span class='label label-default'>"+sel_labels[lab]+"</span> ") #}
    {# } #}
</script>
<script>
var pubyears = {{ category_year_sum|tojson|safe }};
nv.addGraph(function() {
    var chart = nv.models.lineChart()
                    .margin({left: 100})
                    .x(function(d) { return d.key; })
                    .y(function(d) { return d.y; })
                    .useInteractiveGuideline(true)
                    .showLegend(true)
                    .showYAxis(true)
                    .showXAxis(true);
    chart.xAxis.axisLabel('Year');
    chart.yAxis.axisLabel('Number');
    d3.select('#category_chart svg')
        .datum(pubyears)
        .call(chart);

    nv.utils.windowResize(function() { chart.update() });
    return chart;
});
</script>
<script>
var keyword_years = {{ keyword_year_sum|tojson|safe }};
nv.addGraph(function() {
    var chart = nv.models.lineChart()
                    .margin({left: 100})
                    .x(function(d) { return d.key; })
                    .y(function(d) { return d.y; })
                    .useInteractiveGuideline(true)
                    .showLegend(true)
                    .showYAxis(true)
                    .showXAxis(true);
    chart.xAxis.axisLabel('Year');
    chart.yAxis.axisLabel('Number');
    d3.select('#keyword_chart svg')
        .datum(keyword_years)
        .call(chart);

    nv.utils.windowResize(function() { chart.update() });
    return chart;
});
</script>
{% endblock %}

{% block title %}Main{% endblock %}
{% block page_content %}
<div class="page-header">
    <div>
        <p><h1>Publication Summary</h1></p>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ category.title() }}
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                Category  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('main.pub_summary', category="all") }}">All</a></li>
                {% for ctg in  all_categories %}
                    <li><a href="{{ url_for('main.pub_summary', category=ctg) }}">{{ ctg.title() }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div id='category_chart'><svg></svg></div>
            </br>
            <div id='keyword_chart'><svg></svg></div>
        </div>
    </div>
</div>
{% endblock %}
