{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css">
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- jQuery -->
{# <script type="text/javascript" charset="utf8" #}
{#     src="{{ url_for('static', filename='DataTables-1.10.10/media/js/jquery.js')}}"></script> #}
<!-- D3 -->
<script type="text/javascript" charset="utf8"
    src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<!-- nvd3 -->
<script type="text/javascript" charset="utf8"
    src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>

<script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script>
    var data = {{ value_chain_data|tojson|safe }};
    nv.addGraph(function() {
        var chart = nv.models.discreteBarChart()
                        .x(function(d) { return d.key; })
                        .y(function(d) { return d.value; })
        chart.xAxis.axisLabel('Value Chain');
        chart.yAxis.axisLabel('Researchers');
        d3.select('#category_chart svg')
            .datum(data)
            .call(chart);

        nv.utils.windowResize(function() { chart.update() });
        return chart;
    });
</script>

<script>
{#     $(document).ready( function () { #}
{#         var mygrid = $('#coauthgrid').DataTable({ #}
{#             "processing": true, #}
{#             "ajax": $SCRIPT_ROOT + "/_get_coauthor_list?fullname="+{{ fullname|tojson|safe }}, #}
{#             "columnDefs": [ #}
{#                 { "targets": [4], #}
{#                     "data": null, #}
{#                     "defaultContent": '<a href=# class=action-view><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>' #}
{#                 }] #}
{#         }); #}
{#         $('#coauthgrid').on('click', '.action-view', function() { #}
{#             var firstname = mygrid.row($(this).parents('tr').first()).data()[0]; #}
{#             var lastname = mygrid.row($(this).parents('tr').first()).data()[1]; #}
{#             var fullname = firstname + '|' + lastname; #}
{#             window.location.href="{{ url_for('main.view_person', fullname='') }}" + fullname; #}
{#         }); #}
{#     }); #}
</script>
<script>
    $(document).ready( function () {
        var mygrid = $('#randd_authgrid').DataTable({
            "processing": true,
            "data": {{ alist['randd']|tojson|safe }},
            "columnDefs": [
                { "targets": [4],
                    "data": null,
                    "defaultContent": '<a href=# class=action-view><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>'
                }]
        });
        $('#rannd_authgrid').on('click', '.action-view', function() {
            var firstname = mygrid.row($(this).parents('tr').first()).data()[0];
            var lastname = mygrid.row($(this).parents('tr').first()).data()[1];
            var fullname = firstname + '|' + lastname;
            window.location.href="{{ url_for('main.view_person', fullname='') }}" + fullname;
        });
    });
</script>
<script>
    $(document).ready( function () {
        var mygrid = $('#preclin_authgrid').DataTable({
            "processing": true,
            "data": {{ alist['preclin']|tojson|safe }},
            "columnDefs": [
                { "targets": [4],
                    "data": null,
                    "defaultContent": '<a href=# class=action-view><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>'
                }]
        });
        $('#preclin_authgrid').on('click', '.action-view', function() {
            var firstname = mygrid.row($(this).parents('tr').first()).data()[0];
            var lastname = mygrid.row($(this).parents('tr').first()).data()[1];
            var fullname = firstname + '|' + lastname;
            window.location.href="{{ url_for('main.view_person', fullname='') }}" + fullname;
        });
    });
</script>
<script>
    $(document).ready( function () {
        var mygrid = $('#clintrials_authgrid').DataTable({
            "processing": true,
            "data": {{ alist['preclin']|tojson|safe }},
            "columnDefs": [
                { "targets": [4],
                    "data": null,
                    "defaultContent": '<a href=# class=action-view><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>'
                }]
        });
        $('#clintrials_authgrid').on('click', '.action-view', function() {
            var firstname = mygrid.row($(this).parents('tr').first()).data()[0];
            var lastname = mygrid.row($(this).parents('tr').first()).data()[1];
            var fullname = firstname + '|' + lastname;
            window.location.href="{{ url_for('main.view_person', fullname='') }}" + fullname;
        });
    });
</script>
<script>
    $(document).ready( function () {
        var mygrid = $('#manu_authgrid').DataTable({
            "processing": true,
            "data": {{ alist['preclin']|tojson|safe }},
            "columnDefs": [
                { "targets": [4],
                    "data": null,
                    "defaultContent": '<a href=# class=action-view><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>'
                }]
        });
        $('#manu_authgrid').on('click', '.action-view', function() {
            var firstname = mygrid.row($(this).parents('tr').first()).data()[0];
            var lastname = mygrid.row($(this).parents('tr').first()).data()[1];
            var fullname = firstname + '|' + lastname;
            window.location.href="{{ url_for('main.view_person', fullname='') }}" + fullname;
        });
    });
</script>
<script>
    $(document).ready( function () {
        var mygrid = $('#sale_authgrid').DataTable({
            "processing": true,
            "data": {{ alist['preclin']|tojson|safe }},
            "columnDefs": [
                { "targets": [4],
                    "data": null,
                    "defaultContent": '<a href=# class=action-view><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>'
                }]
        });
        $('#sale_authgrid').on('click', '.action-view', function() {
            var firstname = mygrid.row($(this).parents('tr').first()).data()[0];
            var lastname = mygrid.row($(this).parents('tr').first()).data()[1];
            var fullname = firstname + '|' + lastname;
            window.location.href="{{ url_for('main.view_person', fullname='') }}" + fullname;
        });
    });
</script>
{% endblock %}

{% block title %}Main{% endblock %}
{% block page_content %}
<div class="page-header">
    <div>
        <p><h1>Value Chain Summary</h1></p>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ category.title() }}
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                Category  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('main.show_value_chain', category="all") }}">All</a></li>
                {% for ctg in  all_categories %}
                    <li><a href="{{ url_for('main.show_value_chain', category=ctg) }}">{{ ctg.title() }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div id='category_chart'><svg></svg></div>
            <br>
            <h2><small>Research and Development</small></h2>
            <table id="randd_authgrid" class="display">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Initials</th>
                        <th>Affiliation</th>
                        <th>More..</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <br>
            <h2><small>Preclinical Research</small></h2>
            <table id="preclin_authgrid" class="display">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Initials</th>
                        <th>Affiliation</th>
                        <th>More..</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <br>
            <h2><small>Clinical Trials</small></h2>
            <table id="clintrials_authgrid" class="display">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Initials</th>
                        <th>Affiliation</th>
                        <th>More..</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <br>
            <h2><small>Manufacturing</small></h2>
            <table id="manu_authgrid" class="display">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Initials</th>
                        <th>Affiliation</th>
                        <th>More..</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <h2><small>Marketing and Sale</small></h2>
            <table id="sale_authgrid" class="display">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Initials</th>
                        <th>Affiliation</th>
                        <th>More..</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
